.contacts-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  .contacts-content {
    max-width: 600px;
    margin: 2rem;
    padding: 1.5rem;
    border-radius: 2rem;
    background: var(--accent-orange-white);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
      transform: scale(1.02);
    }

    .avatar-section {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-bottom: 10px;

      .portfolio-link {
        color: var(--text-red);
        font-weight: bold;
        transition: color 0.3s, text-decoration 0.3s;
        text-decoration: none;

        &:hover {
          color: var(--background-notFound);
          text-decoration: underline;
        }
      }
    }

    .avatar {
      height: 150px;
      margin-bottom: 10px;
    }

    .text-section {
      color: var(--text-brown);
      font-size: 1.2rem;
      font-weight: bold;
    }
  }

  .form-title {
    padding-top: 2rem;
    border-top: 2px solid var(--background-notFound);
    color: var(--text-brown);
  }

  form {
    display: flex;
    flex-direction: column;
    color: var(--text-brown);
    font-weight: bold;

    .form-group {
      display: flex;
      align-items: start;
      gap: 0.5rem;
      flex-direction: column;
      margin-bottom: 1.5rem;

      .star {
        color: var(--text-red);
      }
    }

    input,
    textarea {
      box-sizing: border-box;
      width: 100%;
      padding: 10px;
      border: 1px solid var(--text-muted);
      border-radius: 4px;
      font-size: 14px;
    }

    textarea {
      min-height: 100px;
      resize: vertical;
    }
  }

  button {
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    color: var(--text-color);
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: var(--background-navigation);

    &:disabled {
      cursor: not-allowed;
      background-color: var(--background-notFound);
    }

    &:hover:enabled {
      background-color: var(--background-notFound);
    }
  }
}
