<nav>
  <img src="assets/images/f1-logo.png" alt="logo" />
  <ul>
    <li>
      <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >{{ "navigation.home" | translate }}</a
      >
    </li>
    <li>
      <a routerLink="/point-system" routerLinkActive="active">{{
        "navigation.pointSystem" | translate
      }}</a>
    </li>
    <li>
      <a routerLink="/hall-of-fame" routerLinkActive="active">{{
        "navigation.hof" | translate
      }}</a>
    </li>
    <li>
      <a routerLink="/teams" routerLinkActive="active">{{
        "navigation.teams" | translate
      }}</a>
    </li>
    <li>
      <a routerLink="/photos" routerLinkActive="active">{{
        "navigation.gallery" | translate
      }}</a>
    </li>
  </ul>

  <div>
    <img
      src="assets/images/flags/bg.svg"
      alt="BG"
      (click)="translateText('bg')"
    />
    <img
      src="assets/images/flags/gb.svg"
      alt="EN"
      (click)="translateText('en')"
    />
  </div>
</nav>
