<div class="points-system-container">
  <h2>{{ "pointSystem.evolutionOfPoints" | translate }}</h2>

  <table>
    <thead>
      <tr>
        <th>{{ pointSystemHeader.position }}</th>
        <th>{{ pointSystemHeader.pointsByEra1 }}</th>
        <th>{{ pointSystemHeader.pointsByEra2 }}</th>
        <th>{{ pointSystemHeader.pointsByEra3 }}</th>
        <th>{{ pointSystemHeader.pointsByEra4 }}</th>
        <th>{{ pointSystemHeader.pointsByEra5 }}</th>
        <th>{{ pointSystemHeader.pointsByEra6 }}</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let system of pointsSystems">
        <td>{{ system.position }}</td>
        <td>
          {{ system.pointsByEra1 }} {{ "pointSystem.points" | translate }}
        </td>
        <td>
          {{ system.pointsByEra2 }} {{ "pointSystem.points" | translate }}
        </td>
        <td>
          {{ system.pointsByEra3 }} {{ "pointSystem.points" | translate }}
        </td>
        <td>
          {{ system.pointsByEra4 }} {{ "pointSystem.points" | translate }}
        </td>
        <td>
          {{ system.pointsByEra5 }} {{ "pointSystem.points" | translate }}
        </td>
        <td>
          {{ system.pointsByEra6 }} {{ "pointSystem.points" | translate }}
        </td>
      </tr>
    </tbody>
  </table>

  <img
    src="assets/images/gallery/points.jpg"
    class="image"
    alt="Points System"
  />
</div>
