:root {
  --text-color: #ffffff;
  --text-muted: #a09e9e;
  --text-light: #e0e0e0;
  --text-brown: #524343;
  --text-caption: #d1d1d1;

  --background-main: #000000;
  --background-navigation: red;
  --background-notFound: rgb(147, 0, 0);
  --background-dark: #2a2a2a;
  --background-darker: #1f1f1f;
  --background-gray: #3a3a3a;

  --background-green-start: #3e8e41;
  --background-green-end: #45a049;
  --accent-orange-white: #d1c698;
  --accent-orange-dark: #b87e0b;
  --accent-yellow: #ffcb05;
  --border-gray: #444;
}

body {
  background-color: var(--background-main);
  color: var(--text-color);
  font-size: 1rem;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
}
