@use 'tokens';

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--text-color);
  font-family: Arial, sans-serif;
  font-size: 1rem;
  overflow-x: hidden;
  background-color: var(--background-main);
}
