<h2>{{ "teams.header" | translate }}</h2>

<div class="teams-container">
  <div class="team-card" *ngFor="let team of F1_TEAMS; let i = index">
    <div class="team-photo">
      <img [src]="teamsPhotos[i]" alt="{{ team.name }} photo" />
    </div>

    <div class="team-details">
      <div class="team-header">
        <h2>{{ team.name }}</h2>
      </div>

      <div class="team-info">
        <p>
          <strong>{{ "teams.originCountry" | translate }}:</strong>
          {{ team.originCountry }}
          <img
            [src]="'assets/images/flags/' + team.originCountryFlag + '.svg'"
            [alt]="team.originCountry + ' flag'"
            class="country-flag"
          />
        </p>
        <p>
          <strong>{{ "teams.headquarters" | translate }}:</strong>
          {{ team.headquarters }}
          <img
            [src]="'assets/images/flags/' + team.headquartersFlag + '.svg'"
            [alt]="team.headquarters + ' flag'"
            class="country-flag"
          />
        </p>
        <p>
          <strong>{{ "teams.foundedYear" | translate }}:</strong>
          {{ team.foundedYear }}
        </p>
        <p>
          <strong>{{ "teams.grandPrixWins" | translate }}:</strong>
          {{ team.grandPrixWins }}
        </p>
        <p>
          <strong>{{ "teams.constructorChampionships" | translate }}:</strong>
          {{ team.constructorChampionships }}
        </p>

        <span class="additional-info">
          {{ "teamInfo." + team.name | translate }}
        </span>
      </div>

      <div class="team-logo-container">
        <img
          [src]="logoPhotos[i]"
          alt="{{ team.name }} logo"
          class="team-logo"
        />
      </div>
    </div>
  </div>
</div>
